
window#waybar {
  background-color: rgba(0,0,0,0.8);
  border-bottom: 0px solid #ffffff;
  /* color: #FFFFFF; */
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}
#workspaces{
  background-color: #62E6FF;
  border: #FF3AA6 1px solid;
  border-radius: 0px 0px 12px 0px;
  padding: 0px 7px 0px 5px;
  margin: 0px 10px 0px 0px;
}
#workspaces button {
  padding: 0px 2px 0px 2px;
  transition: all 0.1s linear;
  opacity: 1.0;
  margin: 2px 0px 0px 0px;
  color: #FF3AA6;
  font-size: 15px;
}

#workspaces button.active {
  padding: 0px 0px 0px 2px;
  font-size: 25px;
  color: #FF3AA6;
}

/* -----------------------------------MIDDLE-------------------------------------- */
#mpris,#clock.time{
  background-color: #FF3AA6;
  font-size: 16px;
  font-weight: bolder;
}
#mpris {
  padding: 0px 10px 0px 0px;
  border-radius: 0px 0px 10px 0px;
}
#clock.time{
  border-radius: 0px 0px 0px 10px;
}

/* ------------------------------------RIGHT--------------------------------------- */
#pulseaudio, #backlight, #battery{
  background-color: #62E6FF;
  font-size: 16px;
  font-weight: bolder;
  color: #FF3AA6;
  padding: 0px 0px 0px 0px;
}

#pulseaudio{
  padding: 0px 3px 0px 10px;
  border-radius: 0px 0px 0px 12px;
}
#battery{
  padding: 0px 10px 0px 0px;
}
#backlight{
  padding: 0px 3px 0px 0px;
}
